@charset "ISO-8859-1";

.padd{
	padding-top: 120px;
	padding-bottom: 120px;
}
.img-thumbnail{
	max-height: 100%;
	
}

.centerMy{
	justify-content: center;
	
}

.bg-successS{
	background-color: #218f3a;
}