<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="css/home.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title></title>
</head>
<body>


	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<h3 class="border-right p-3">Best of the year</h3>
		
		<a class="border-right px-4">Movies</a>
		<a class="border-right px-4">Song</a>
	</nav>


	<div class="container pt-4">
		<div class="row text-center">
		 	<div class="col-12 text-center">
			 	<h1 >Best of by ...</h1>
	  			<h1 th:text=${Nome}></h1>
		 	</div>
		 	
		<div class="col-12 text-center pt-4 bg-light">
		
		  <div class="row mb-4 border border-dark">
		    <div class="col-sm-8 mx-auto ">
		      <img class="img-fluid img-thumbnail" alt="" src="ima/img-java.jpg">
		    </div>
		  </div>
		  
		  
		  <div class="row text-center centerMy border border-dark">
		    <h4 class="font-weight-bold text-primary">Lorem</h4>
		  </div>
		  
		</div>
		 	
		 	
		</div>
	</div>

  
  
  
  <script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>


